body{background-color: rgb(204, 200, 200);}
.con1{background-image: url(Responsive.jpg); padding-top: 170px;padding-bottom: 270px; color:rgb(10, 10, 10)  ; 
    font-size: 1cm; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif; padding-left: 70px;}
.low{font-weight:bold; font-size:large}
.con2{display: grid;grid-template-columns: 25% 25% 25%; justify-content:space-evenly ;font-size: 1cm; font-weight: bolder; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif} 
.con2 div{padding: 40px; margin-top: -40px ; } 
.low1{font-weight:lighter; font-size:large}  
.con3{display: grid; grid-template-columns: 50% 40%; 
    justify-content: space-around; background-color: rgb(173, 173, 173); padding-left: 50px; font-size: x-large; padding-top: 50px;}
.con4{display: grid; background-color: black; color: white; text-align: center; }
.con4 .cont-1{width: 50%; margin: auto;}
.low-2{font-size: 1cm; font-weight: bolder;}
.low-3{font-size: larger; font-weight: bold;}  
.con5{display: grid; grid-template-columns: 20% 20% 20% 20%;
     background-color: rgba(231, 176, 24, 0.993); 
     justify-content: space-around; padding-left: 50px; font-size: larger; font-weight: bold; padding-bottom: 100px;} 
.num{font-size: 1.4cm; font-weight: bolder ;} 
.con6{color: black; font-size: larger; font-weight: bold; text-align: center;}
.cont-2{font-size: 1cm;}
.con7{color: black; display: grid;
     grid-template-columns: 35% 35% ; justify-content: space-around; font-size: larger; font-weight: bolder; padding-left: 30px; margin-top: 2cm;}
.con8{display: grid; grid-template-columns: 40% 20% 20%; background-color: black; color: whitesmoke; justify-content: space-evenly; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;} 
.cont-3{font-size: larger; font-weight: bold;}  
.con9{display: grid;grid-template-columns: 40% 30%; justify-content: space-around;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; margin-top: 35px;} 
     
.con10{display: grid; grid-template-columns: 45% 35%; 
    background-color:rgba(231, 176, 24, 0.993) ; justify-content: space-around; padding-top: 20px; padding-bottom: 15px;}  
    
    /*MOBILE RESPONSIVE*/ /*MEDIA QUERY*/

    